<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Menu</li>
			<li><a href="<%= root_path %>"><i class="icon-pencil icon"></i> Input Data</a></li>
			<li><a href="<%= root_path %>"><i class="icon-file icon"></i> Cek Data</a></li>
			<% if current_user %>
				<li class="nav-header">DASHBOARD</li>
            	<% if current_user.roles_mask == 1 %>
            		<li><a href="<%= new_job_path %>"><i class="icon-pencil icon"></i> Create job</a></li>
            		<li><a href="<%= view_jobs_jobs_path %>"><i class="icon-file icon"></i> View jobs</a></li>
            	<% else %>
            		<li><a href="<%= apps_path %>"><i class="icon-pencil icon"></i> Proposals job</a></li>
            		<li><a href="<%= index_active_apps_path %>"><i class="icon-file icon"></i> Active jobs</a></li>
            		<li><a href="<%= index_finished_apps_path %>"><i class="icon-file icon"></i> Finished jobs</a></li>
            	<% end %>
            	<li><a href="<%= messages_path %>"><i class="icon-envelope icon"></i> Pesan</a></li>
			<% end %>
		</ul>
	</div><!--/.well -->
</div><!--/span-->