<%= simple_form_for @job do |f|%>
    				<%= f.label :judul %>
    				<%= f.input_field :title,:class => "span8" %>
    				<%= f.label :deskripsi_pekerjaan %>
    				<%= f.cktext_area :description, :toolbar => 'Basic' %>
    				<%= f.label :waktu_mulai %>
    				<%= f.input :time_start, :class => "span4",:label => false %>
    				<%= f.label :area_kerja %>
    				<%= f.collection_select(:area, @location, :locate, :locate, {:prompt => true}) %>
    				<%= f.label :gaji %>
    				<%= f.input :salary,:id => "salary", :wrapper => :prepend, :label => false do %>
	    				<%= content_tag :span, "Rp", :class => "add-on" %>
	    			<%= f.input_field :salary,:value => "10000", :class => "align-salary"%>
	    			<i id="sal-up" class="icon-plus-sign"></i>&nbsp;<i id="sal-down" class="icon-minus-sign"></i>
	    			<div id="error_count"></div>
	    			<% end %>
	    			<%= f.input :keyword,:input_html => { :class => "span8" } %>
	    			<%= f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id }%>
    				<%= f.submit "Submit Kerja", :class => "btn-primary btn-large"%>
    			<% end %>