<div class="row-fluid">
	<div class="span4"> &nbsp;</div>
	<div class="span4">
		<div class="well">
			<div class="head_name">
				<h2>Change your password</h2>
			</div>
				<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  				<%= f.error_notification %>
  				<%= f.input :reset_password_token, :as => :hidden %>
  				<%= f.full_error :reset_password_token %>
    			<%= f.input :password,:input_html => { :class => "span11" },  :label => "New password", :required => true %>
    			<%= f.input :password_confirmation,:input_html => { :class => "span11" },  :label => "Confirm your new password", :required => true %>
    			<%= f.submit "Changed my password",:class => "btn-primary btn-large"  %>
				<% end %>
				<%= render "links" %>
		</div>
	</div>
</div>


