<div class="row-fluid">
	<%= render "link/menu_link" %>
	<div class="span9">
		<div class="row-fluid">
		<div class="span8">
		  <div class="well">
    		<h2>Candidate Information</h2>
    		<hr/>
  			<%= simple_form_for(@candidate, :html => { :method => :put, :multipart => true }) do |f| %>
    			<div class="row-fluid">
    			  <div class="span6">
        			<%= f.input :photo, :as => :file, :label => "Foto Berwarna Ukuran 4x6" %>
        			<%= f.input :full_name, :required => true, :autofocus => true, :label => "Nama Lengkap" %>
        			<%= f.input :born_place, :required => true, :label => "Tempat Lahir"%>
        			<%= f.input :born_date, :as => :string, :label => "Tanggal Lahir", :required => true %>
        			<%= f.input :email, :required => true  %>
        			<%= f.input :from_university, :required => true  %>
      			</div>
      			<div class="span6">
      			  
            </div>
          </div>
    			<%= f.submit "Save", :class => "btn-primary btn-large" %> 
  			<% end %>
			</div>
		</div>
	</div>
	</div>
</div>