<div class="span6">
	<%= f.input :full_name, :required => false, :autofocus => true, :label => "Nama Lengkap" %>
	<%= f.input :address, :as => :string, :required => false, :autofocus => true, :label => "Alamat" %>
	<%= f.input :born_place, :required => false, :label => "Tempat Lahir"%>
	<%= f.input :born_date, :as => :string, :label => "Tanggal Lahir", :required => false %>
	<%= f.input :email, :required => false  %>
	<%= f.input :phone, :required => false, :label => "Nomor Telepon"  %>
	<%= image_tag(@candidate.photo.url, :size => "200x200") if @candidate.photo.url %>
	<%= f.input :photo, :as => :file, :label => "Foto Berwarna Ukuran 4x6", :required => false %>
</div>
<div class="span6">
	<%= f.input :from_university, :required => false, :label => "Asal Perguruan Tinggi"  %>
	<%= f.input :from_program, :required => false, :label => "Asal Program Studi" %>
	<%= f.input :rank, :as => :select, :collection => ["A", "B", "C", "Belum Terakreditasi"], :include_blank => false, :required => false, :label => "Akreditasi" %>
  <%= f.input :toefl, :required => false, :label => "Skor TOEFL/EPrT" %>
  <%= f.input :ipk, :required => false, :label => "IPK (x.xx)" %>
  <%= f.input :to_program, :as => :select, :collection => [["Sistem Komputer","SK"], ["Teknik Telekomunikasi", "TT"], ["Teknik Informatika","IF"]], :include_blank => false, :required => false, :label => "Pilihan Prodi" %>
</div>