<div class="span10">
  <h2>Tanda Terima Input Data / KARTU UJIAN</h2>
  <hr/>
  <p>Pada hari ini, tanggal <%= Time.now.strftime("%d %B %Y")%>, telah diterima pemasukan data dan upload file calon mahasiswa dengan data sebagai berikut:</p>
  <br/>
  <table class="" border="0" style="border: 0px !important;">
    <tr>
      <td>
        <%= image_tag(@candidate.photo.url(:medium), :size => "200x200")%>
      </td>
      <td valign="top">
        <table>
          <tr>
            <td style="width: 150px;">Nama</td>
            <td>: <%= @candidate.full_name%></td>
          </tr>  
          <tr>
            <td style="width: 150px;">Alamat</td>
            <td>: <%= @candidate.address%></td>
          </tr>
          <tr>
            <td style="width: 150px;">Program Studi</td>
            <td>: <%= @candidate.program_studi%></td>
          </tr>
          <tr>
            <td style="width: 150px;">Email</td>
            <td>: <%= @candidate.email%></td>
          </tr>
          <tr>
            <td style="width: 150px;" >No. Peserta</td>
            <td>: <%= @candidate.number%></td>
          </tr>
          <tr>
            <td style="width: 150px;">Tanda Tangan</td>
            <td></td>
          </tr>
          <tr>
            <td style="width: 150px;">
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              (__________________________________)
            </td>
            <td></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>Tanda Bukti Kehadiran Ujian (ditandangani pada saat ujian tulis)</td>
    </tr>
    <tr>
      <td>
        <p>Pengawas</p>
        <br/>
        <br/>
        <br/>
        <br/>
        <p>(____________________________)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </td>
      <td>
        <p>Peserta</p>
        <br/>
        <br/>
        <br/>
        <br/>
        <p>(____________________________)</p>
      </td>
    </tr>
  </table>
  <br/>
  <p>Selanjutnya dipersilahkan untuk membayar sejumlah <%="#{number_to_currency(@candidate.number.to_s[4,7].to_i + 500000, :unit => 'Rp.')}"%> ke Rekening Bank Mandiri a.n YPT/ITTelkom 131009202130.</p>
  <br/>
  <hr/>
  <!-- <h2>Tanda Bukti Hadir Tes Tulis</h2>
  <hr/>
  <div class="row">
    <div class="span2">
      <%= image_tag(@candidate.photo.url(:medium), :size => "200x200")%>
    </div>
    <div class="span4">
      <div class="row">
        <div class="span2">Nama</div><div class="span2">: <%= @candidate.full_name%></div>
      </div>
      <div class="row">
        <div class="span2">No. Peserta</div><div class="span2">: <%= @candidate.number%></div>
      </div>
      <div class="row">
        <div class="span2">No. Telp</div><div class="span2">: <%= @candidate.phone%></div>
      </div>
      <div class="row">
        <div class="span2">Email</div><div class="span2">: <%= @candidate.email%></div>
      </div>
      <br/>
      <p>Tanda tangan dilakukan <b>PADA SAAT TES TERTULIS</b>.</p>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="span4">
      <p>Pengawas</p>
      <br/>
      <br/>
      <br/>
      <br/>
      <p>(________________________________)</p>
    </div>
    <div class="span4">
      <p>Peserta</p>
      <br/>
      <br/>
      <br/>
      <br/>
      <p>(________________________________)</p>
    </div>
  </div> -->
</div>