<div class="row">
	<%#= render "link/menu_link" %>
	<div class="span12">
		<div class="row">
		<div class="span12">
		  <div class="well">
  			<%= simple_form_for(@candidate, :html => {:multipart => true }) do |f| %>
    			<div class="row">
            <%= render partial: "#{@candidate.current_step}", :locals => { :f => f}%>
          </div>
          <br/>
    			<%= f.submit "Selanjutnya", :class => "btn-primary btn-large" unless @candidate.last_step? %> <%= f.submit "Kembali", :name => "back_button", :class => "btn-primary btn-large" unless @candidate.first_step? %> <%= f.submit("Print", :name => "finish_button", :onClick=>"window.print(); " , :class => "btn-primary btn-large") if @candidate.last_step? %> 
  			<% end %>
			</div>
		</div>
	</div>
	</div>
</div>  