<h2>Sign in</h2>
	<%= simple_form_for(resource,:html => { :class => 'form-horizontal' }, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  	<%= f.input :email,:wrapper => :prepend, :required => false, :autofocus => true %>
  	<%= f.input :password, :required => false %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  	<%= f.submit "Sign in", :class => "btn-primary btn-large" %> 
	<% end %>
	<%= render "links" %>

