<div class="row-fluid">
<%= render "link/menu_link" %>
  <div class="span9">
    <div class="row-fluid">
    	<div class="span8">
    		<div class="well">
    			<h2>Daftar kerjaan</h2>
    			<hr />
    			<div class="row-fluid">
	    			<div class="span5 hed">
	    				Nama Pekerjaan
	    			</div>
	    			<div class="span4 hed">
	    				Tanggal
	    			</div>
	    		</div>
	    		<% if @app.empty? %>
	    			Maaf tidak ada kerjaan yang aktif
	    		<% else %>
	    			<% @app.each do |f| %>
	    				<div class="row-fluid">
	    					<div class="span5">
	    						<%= link_to(f.job.title, job_path(f)) %>
	    					</div>
	    					<div class="span4">
	    						<%= f.created_at.strftime("%d %B %Y") %>
	    					</div>
	    					<div class="span3 icon">
	    						<%= link_to(image_tag('icon/user_18.png',:class => 'icon_tag',:title => 'lihat profil kontraktor'),'#') %>
	    						<%= link_to(image_tag('icon/mail_write_18.png',:class => 'icon_tag',:title => 'kirim pesan ke kontraktor'),'#') %>
	    						<% if f.finished == 1 %>
	    							<%= link_to(image_tag('icon/warning_18.png',:class => 'icon_tag',:title => 'tunggu konfirmasi dari kontraktor'),'#') %>
	    						<% elsif f.finished == 2 %>
	    							<%= link_to(image_tag('icon/rss_18.png',:class => 'icon_tag',:title => 'pekerjaan telah selesai, silahkan mengisi feedback'),finished_final_app_path(f.job)) %>
	    						<% else %>
	    							<%= link_to(image_tag('icon/flag_18.png',:class => 'icon_tag',:title => 'pekerjaan telah selesai'),finished_app_path(f),:confirm => "are you sure?") %>
	    						<% end %>
	    					</div>
	    				</div>
	    			<% end %>
	    		<% end %>
    		</div>
    	</div>
    	<div class="span4">
    		<div class="well">
    			<h3>Need help ??</h3>
    			<p>read online guide <a href="#">here</a></p>
    		</div>
    	</div>
    </div>
  </div>
</div>