<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => "common/head"%>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
		<%= render :partial => "common/topbar"%>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
        	<%= render :partial => "common/flashes"%>
        </div><!--/span-->
      </div><!--/row-->
      <div class="row-fluid">
        <%= yield %>
      </div><!--/row-->

      <hr>

      <footer>
        <%= render :partial => "common/footer"%>
      </footer>
    </div>
  </body>
</html>
