<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => "common/head"%>
  </head>
  <body>
    <div class="topbar">
      <%= render :partial => "common/topbar"%>
    </div>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <%= render :partial => "common/header"%>
        </div>
        <div class="row">
          <div class="span14"><%= render :partial => 'common/flashes' %></div>
          <%= yield %>
        </div>
      </div>
      <footer>
        <%= render :partial => "common/footer"%>
      </footer>
    </div>
  </body>
</html>
